<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">
			<a routerLink="/" class="navbar-brand">DineBook.com</a>
			
			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</button>
			
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li><a routerLink="/" routerLinkActive="active" class="nav-item nav-link active">Home</a></li>
					<li><a routerLink="/login" routerLinkActive="active" class="nav-item nav-link">Login</a></li>
					<li><a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="banner">
		<div class="container">
			<h1>DineBook.</h1>
			<h2>Elevate your dining experience with seamless reservations at your fingertips.</h2>
			<h3>Discover. Reserve. Delight.</h3>
			<a href="#content" class="button button-primary">Learn More</a>
		</div>
	</div>
</header>

<div class="photo-container">
    <img src="assets/Restaurant-Online-Reservation-Systems.png" alt="Full Width Photo">
  </div>

<main>
	<section id="content" class="content">
		<div class="container">
			<div class="row">
				<!-- <div class="col-md-4">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec elit ex. Etiam elementum lectus et tempor molestie. Pellentesque vestibulum dui sit amet dui volutpat sollicitudin. Etiam non erat finibus, iaculis nunc vel, convallis eros. Etiam efficitur tempor dui, vitae fringilla ipsum tristique quis. Aliquam erat volutpat. Cras ullamcorper ex et viverra vulputate. Nam lectus ligula, pretium nec risus nec, ultricies fringilla mauris. Proin quis venenatis neque, iaculis porta nulla. </p>
				</div>
				<div class="col-md-4">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec elit ex. Etiam elementum lectus et tempor molestie. Pellentesque vestibulum dui sit amet dui volutpat sollicitudin. Etiam non erat finibus, iaculis nunc vel, convallis eros. Etiam efficitur tempor dui, vitae fringilla ipsum tristique quis. Aliquam erat volutpat. Cras ullamcorper ex et viverra vulputate. Nam lectus ligula, pretium nec risus nec, ultricies fringilla mauris. Proin quis venenatis neque, iaculis porta nulla. </p>
				</div>
				<div class="col-md-4">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec elit ex. Etiam elementum lectus et tempor molestie. Pellentesque vestibulum dui sit amet dui volutpat sollicitudin. Etiam non erat finibus, iaculis nunc vel, convallis eros. Etiam efficitur tempor dui, vitae fringilla ipsum tristique quis. Aliquam erat volutpat. Cras ullamcorper ex et viverra vulputate. Nam lectus ligula, pretium nec risus nec, ultricies fringilla mauris. Proin quis venenatis neque, iaculis porta nulla. </p>
				</div> -->
				<p>Welcome to our online restaurant reservation platform, where finding and booking your favorite dining spots is just a click away! </p>

				<p>Discovering the perfect restaurant and securing a table has never been easier. With our user-friendly website, you can effortlessly navigate through a wide selection of exquisite dining establishments, conveniently located in your area. Whether you're craving a cozy café, a trendy bistro, or a fine dining experience, we have a diverse range of restaurants to suit every palate and occasion. </p>
					
				<p>Our intuitive search feature allows you to filter restaurants based on various criteria, such as cuisine type, price range, location, and even specific dietary preferences. You can explore detailed profiles for each restaurant, complete with enticing food images, menus, customer reviews, and ratings to make an informed decision.</p>
					
				<p>Once you've found the perfect dining destination, securing a reservation is as simple as a single click. Our streamlined booking process ensures a hassle-free experience, enabling you to reserve a table at your preferred date and time without any unnecessary complications. Say goodbye to long phone calls or endless online forms – we've made the reservation process swift and efficient, putting you in control of your dining plans.</p>
					
				<p>Additionally, our platform offers a range of convenient features to enhance your dining experience. From personalized recommendations based on your past reservations and preferences to exclusive offers and promotions, we strive to make every visit to our website a delightful journey of culinary exploration.</p>
					
				<p>Join our community of food enthusiasts and discover the joy of effortless restaurant reservations at your fingertips. Experience the ease and convenience of finding and booking your next culinary adventure with a single click. Start exploring now and let us help you create memorable dining experiences!</p>
			</div>
		</div>
	</section>
</main>
