<app-nav-admin></app-nav-admin>

<div class="container">
    <div class="banner">
			<a class="btn btn-outline-primary mb-2 me-2" (click)="open(content)">Add restaurant</a>
	</div>
  <div class="search-container">
    <form >
        <input class="rounded-input" type="text" placeholder="Search by name" [(ngModel)]="name" id="name" name="name"><br>
    </form >
    <button class="search-button" (click)="searchByName(name)">Search</button>
</div>
<div class="search-container">
  <form >
    <input class="rounded-input" type="text" placeholder="Country" [(ngModel)]="country" id="country" name="country">
    <input class="rounded-input" type="text" placeholder="City" [(ngModel)]="city" id="city" name="city">
  </form >
  <button class="search-button" (click)="searchByCountryAndCity(country, city)">Search</button>
</div>


    <div class="row">
        <div *ngFor="let restaurant of restaurants" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <!-- <div class="col-sm">
                        <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div> -->
                    <div class="col-sm card-title align-self-center mb-0">
                        <h3>{{restaurant.name}}</h3>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: {{restaurant.email}}</li>
                    <li class="list-group-item">Phone: {{restaurant.phoneNo}}</li>
                    <li class="list-group-item">Country: {{restaurant.country}}</li>
                    <li class="list-group-item">City: {{restaurant.city}}</li>
                    <li class="list-group-item">Address: {{restaurant.address}}</li>
                    <li class="list-group-item">Description: {{restaurant.description}}</li>
                    <li class="list-group-item">Maximum customers number: {{restaurant.maxCustomersNo}}</li>
                    <li class="list-group-item">Maximum tables number: {{restaurant.maxTablesNo}}</li>
                    <li class="list-group-item">Manager id: {{restaurant.managerId}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onEditRestaurant(contentEdit, restaurant)"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="onDeleteRestaurant(restaurant.id!)"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New restaurant</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate #f="ngForm" (ngSubmit)="onAddRestaurant(f)" >
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" ngModel name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="phoneNo">Phone number</label>
          <input type="text" ngModel name="phoneNo" id="phoneNo" class="form-control" >
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" ngModel name="country" id="country" class="form-control">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" ngModel name="city" id="city" class="form-control">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" ngModel name="address" id="address" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" ngModel name="description" id="description" class="form-control">
        </div>
        <div class="form-group">
          <label for="maxCustomersNo">Maximum customers number</label>
            <input type="number" ngModel name="maxCustomersNo" id="maxCustomersNo" class="form-control" min="0" max="1000">
        </div>
        <div class="form-group">
            <label for="maxTablesNo">Maximum tables number</label>
              <input type="number" ngModel name="maxTablesNo" id="maxTablesNo" class="form-control" min="0" max="1000">
        </div>
        <div class="form-group">
          <label for="selectManager">Restaurant manager</label>
          <select ngModel name="managerId" id="managerId" class="form-control">
              <option *ngFor="let manager of managers" value={{manager.id}}>{{manager.username}}</option>
          </select>
        </div>
        <div class="modal-footer">
            <button id="add-customer-form" data-dismiss="modal" class="btn btn-outline-dark">Submit</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit restaurant</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" id="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" id="email" class="form-control" >
        </div>
        <div class="form-group">
          <label for="phoneNo">Phone number</label>
          <input type="text" formControlName="phoneNo" id="phoneNo" class="form-control">
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" formControlName="country" id="country" class="form-control">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" formControlName="city" id="city" class="form-control">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" formControlName="address" id="address" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
            <input type="text" formControlName="description" id="description" class="form-control">
        </div>
        <div class="form-group">
          <label for="maxCustomersNo">Maximum customers number</label>
            <input type="number" formControlName="maxCustomersNo" id="maxCustomersNo" class="form-control" min="0" max="1000">
        </div>
        <div class="form-group">
          <label for="maxTablesNo">Maximum tables number</label>
            <input type="number" formControlName="maxTablesNo" id="maxTablesNo" class="form-control" min="0" max="1000">
        </div>
        <div class="form-group">
          <label for="selectManager">Restaurant manager</label>
          <select formControlName="managerId" name="managerId" id="managerId" class="form-control">
              <option *ngFor="let manager of managers" value={{manager.id}}>{{manager.username}}</option>
          </select>
        </div>
        <div class="modal-footer">
            <button id="add-manager-form" data-dismiss="modal" class="btn btn-outline-dark" (click)="onUpdateRestaurant()">Save changes</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
        </div>
      </form>
    </div>
  </ng-template>
