<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Register</h3>
                                </div>

                                <h6 class="h5 mb-0">Welcome!</h6>
                                <p class="text-muted mt-2 mb-5">Enter your details to access role panel.</p>

                                <form [formGroup]="form" (submit)="submit()">
                                    <div class="form-group">
                                        <label for="inputUsername">Username</label>
                                        <input formControlName="username" type="username" class="form-control" id="inputUsername">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Password</label>
                                        <input formControlName="password" type="password" class="form-control" id="inputPassword">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Full name</label>
                                        <input formControlName="fullName" type="name" class="form-control" id="inputName">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail">Email address</label>
                                        <input formControlName="email" type="email" class="form-control" id="inputEmail">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPhoneNo">Phone number</label>
                                        <input formControlName="phoneNo" type="phone" class="form-control" id="inputPhoneNo">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCountry">Country</label>
                                        <input formControlName="country" type="country" class="form-control" id="inputCountry">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCity">City</label>
                                        <input formControlName="city" type="city" class="form-control" id="inputCity">
                                    </div>
                                    <div class="form-group">
                                        <label for="selectRole">Role</label>
                                        <select formControlName="role" name="roles" id="roles" class="form-control">
                                            <option value="admin">Admin</option>
                                            <option value="manager">Restaurant Manager</option>
                                            <option value="customer">Customer</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-theme">Register</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">This  beautiful theme yours!</h4>
                                    <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                                    <p>- Admin User</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <p class="text-muted text-center mt-3 mb-0">You already have an account? <a routerLink="/login" class="text-primary ml-1">Login</a></p>

            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>
